h1, h2, p {
    text-align: center;
}

body {
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    /* font-family sirve para cambiar la fuente de letra */
    font-family: sans-serif;
    padding: 20px;
}

.menu {
    /* padding sirve para separar el contenido del borde */
    padding: 20px;
    margin: auto;
    width: 80%;
    background-color: burlywood;
    /* max-width sirve para que el contenido no se salga del ancho de la pantalla */
    max-width: 500px;
}

.flavor, .dessert{
    text-align: left;
    width: 75%;
}

.price {
    text-align: right;
    width: 25%;
}

.item p {
    display: inline-block;
}

h1, h2 {
    font-family: Impact,serif;
}

.established {
    font-style: italic;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

hr {
    height: 2px;
    background-color: brown;
    border-color: brown;
}